@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.customnav {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: hsl(273, 4%, 51%);
}

.icon-open {
    display: block;
    cursor: pointer;
}

.icon-close {
    display: none;
}

.active .icon-open {
    display: none;
}

.active .icon-close {
    display: block;
    cursor: pointer;
}

.custom-ul {
    margin-right: 16px;
}

.insure {
    width: 90%;
    height: auto;
}

.plans {
    border: 2px solid black;
    padding: 0 10px;
    font-size: 12px;
    color: black;
    letter-spacing: 1px;
}

.plans:hover,
.plann:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav-img-mobile {
    display: none;
}

/* intro */

.intro {
    background-color: hsl(256, 26%, 20%);
    height: 649px;
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
}

p {
    font-family: 'Karla', sans-serif;
}

.intro-right {
    position: absolute;
    right: 0;
}

.intro-left {
    position: absolute;
    top: 527px;
}

.intro-left-img {
    width: 138px;
}

.intro-right-img {
    width: 391px;
}

.intro-left-mobile,
.intro-right-mobile {
    display: none;
}

.line {
    width: 140px;
    border-top: 1px solid hsl(0, 0%, 98%);
}

.headin-h {
    font-size: calc(3rem + 1.3vw);
}

.h-secondary {
    margin-top: -24px;
}

.headin-p {
    font-size: 1.15em;
    margin-right: -6px;
    line-height: 26px;
    color: hsl(0, 0%, 98%);
}

.headd {
    color: white;
    padding-top: 140px;
    padding-left: 43px;
}


.plans-one {
    font-family: 'Karla', sans-serif;
    border: 2px solid white;
    letter-spacing: 1px;
    padding: 7px 18px;
    font-size: 12px;
    font-weight: 600;
}

.plans-one:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.img-intro {
    width: 93%;
    margin-left: 8px;
}

.img-intro-mobile {
    display: none;
}

/* second */

.second-section {
    margin-top: 295px;
}

.custom-second {
    padding-left: 45px;
}

.second-h1 {
    font-size: 4rem;
    margin-top: 48px;
}

.line-dark {
    width: 140px;
    border-top: 1px solid hsl(273, 4%, 51%);
}

.list-space {
    margin-right: 32px;
    font-size: 1.1rem;
}

.list-text {
    color: hsl(273, 4%, 51%);
}

/* third */

.third-section {
    margin-top: 200px;
}

.third-head {
    background-color: hsl(256, 26%, 20%);
    color: white;
    height: 250px;
    width: 84%;
    margin: auto;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.third-heading {
    font-size: 3.5vw;
}

.my-3custom {
    margin-left: 6%;
}

.span-head {
    z-index: 4;
    margin-right: 6%;
}

.third-plan {
    font-family: 'Karla', sans-serif;
    border: 2px solid white;
    letter-spacing: 1px;
    padding: 7px 18px;
    font-size: 13px;
    font-weight: 600;
}

.third-plan:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.third-svg {
    position: absolute;
    right: 0;
}

.third-svg-mobile {
    display: none;
}

/* footer */

.final-section {
    position: relative;
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    margin-top: 10rem;
    font-family: 'Karla', sans-serif;
    font-size: 0.84rem;
    text-transform: uppercase;
    color: hsl(256, 26%, 20%);
    line-height: 2;
}

.footer-bag-img {
    position: absolute;
    top: 0;
}

.custom-container {
    padding: 0 59px 0 38px;
    position: relative;

}

.footer-img {
    border-bottom: 1px solid hsl(273deg 14.93% 78.53%);
}

.footer-headin {
    color: hsl(273, 4%, 51%);
}

.socials:hover{
    filter: brightness(0) saturate(100%);
}

.footer-list:hover{
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 992px) {
    .navcustoms {
        background-color: hsl(270, 9%, 17%);
        color: white;
        margin-bottom: -8px;
        position: relative;
        overflow: hidden;
    }

    .nav-img-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
    }

    .nav-ms {
        margin-right: 0 !important;
    }

    .custom-ul {
        margin-right: 0;
        margin-top: 9px;
    }

    .first {
        margin-top: 33px;
    }

    .plans {
        margin: 9px 20% 100px 20%;
        color: white;
        border-color: white;
        position: relative;
        z-index: 4;
    }

    .headd {
        padding-top: 224px;
    }

    .headin-h {
        font-size: calc(1.9rem + 1.5vw);
    }

    .headin-p {
        font-size: 13px;
        margin-right: 0;
    }


    .intro-right-img {
        width: 319px;
    }

    .third-head {
        margin-left: 0;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .headd {
        padding-left: 0;
    }

    .headin-h {
        font-size: calc(1.03rem + 1.5vw);
    }

    .h-secondary {
        margin-top: -12px;
    }


    .line-dark,
    .custom-second {
        margin: auto;
        text-align: center;
    }

    .custom-second {
        padding: 0;
    }

    .third-plan {
        font-size: 10px;
    }

    .third-svg {
        width: 20rem;
    }

    .custom-container {
        text-align: center;
        padding: 0;
    }

}

@media (max-width: 576px) {

    .intro {
        height: 887px;
    }

    .custom-ms5 {
        margin-left: 1rem !important;
    }

    .img-intro {
        display: none;
    }

    .img-intro-mobile {
        display: block;
        width: 70%;
        margin-top: 67px;
        margin-left: 15%;
    }

    .intro-right-img,
    .intro-left-img,
    .line {
        display: none;
    }

    .intro-left-mobile {
        display: block;
        position: absolute;
    }

    .intro-right-mobile {
        display: block;
        position: absolute;
        right: 0;
    }

    .headd {
        padding-top: 25px;
        text-align: center;

    }

    .heading {
        display: block;
    }

    .headin-h {
        font-size: calc(2.4rem + 1.5vw);
    }

    .headin-p {
        margin: 43px;
    }

    .second-section {
        margin-top: 145px;
    }

    .second-h1 {
        font-size: 3.2rem;
    }

    .third-section {
        margin-top: 124px;
    }

    .third-head {
        display: block !important;
    }

    .my-3custom {
        text-align: center;
        margin: 40px 0 -12px 0;
    }

    .third-plan {
        font-size: 12px;
    }

    .third-svg {
        display: none;
    }

    .third-heading {
        font-size: 2rem;
    }

    .span-head{
        text-align: center;
        margin:  45px 0 0 0;
    }

    .third-svg-mobile {
        display: block;
        position: absolute;
        right: 0;
    }

    .footer-img {
        flex-wrap: wrap;
    }

    .footer-logo {
        width: 100%;
        margin-bottom: 8px !important;
    }

    .f-logo {
        width: 35%;
    }

    .footer-socials {
        width: 100%;
        letter-spacing: 10px;
        margin-bottom: 3rem;
    }

}

@media (max-width: 481px) {

    .img-intro-mobile {
        width: 100%;
        margin-left: 0;
    }

    .intro {
        height: 61rem;
    }

    .headin-p {
        font-size: 15px;
    }

    .headin-p {
        margin-bottom: 54px !important;
    }

    .list-space {
        margin: 0 10px;
    }


}